.feature-list-icon-box{
    color: #bbcc31;
}
.card-tag{
    color: #fff;
    background-color: #bbcc31;
}
.contentSection-container ul li::before{
    color: #bbcc31 !important;
}
ul li::before{
    color: #bbcc31 !important;
}