.search-form-side #search-input-side {
    display: none;
}

.feature-list-icon-box {
    color: #bbcc31;
}

.card-tag {
    color: #fff;
    background-color: #bbcc31;
}

.contentSection-container ul li::before {
    color: #bbcc31 !important;
}

ul li::before {
    color: #bbcc31 !important;
}

.cyan .card-title {
    color: #bbcc31;
}

.teal .card-title {
    color: #329f9a;
}

.yellow .card-title {
    color: #f9c53e;
}

.cta {
    color: #bbcc31;
}

.cta-default:hover {
    color: #bbcc31;
}

.cta-primary {
    background-color: #bbcc31;
    color: #ffffff;
    border: solid 2px #bbcc31;
}

.cta-primary:hover {
    color: #ffffff !important;
    background: #bbcc31;
    border: solid 2px #bbcc31 !important;
}

.cta-secondary {
    border: solid 2px #bbcc31;
    color: #bbcc31;
}

.cta-secondary:hover {
    color: #ffffff !important;
    background: #bbcc31;
}

.yellow-color .cta {
    color: #f9c53e;
}

.yellow-color .cta-default:hover {
    color: #f9c53e;
}

.yellow-color .cta-primary {
    background-color: #f9c53e;
    color: #ffffff;
    border: solid 2px #f9c53e;
}

.yellow-color .cta-primary:hover {
    color: #ffffff !important;
    background: #f9c53e;
    border: solid 2px #f9c53e !important;
}

.yellow-color .cta-secondary {
    border: solid 2px #f9c53e;
    color: #f9c53e;
}

.yellow-color .cta-secondary:hover {
    color: #ffffff !important;
    background: #f9c53e;
}

.teal-color .cta {
    color: #f9c53e;
}

.teal-color .cta-default:hover {
    color: #f9c53e;
}

.teal-color .cta-primary {
    background-color: #f9c53e;
    color: #ffffff;
    border: solid 2px #f9c53e;
}

.teal-color .cta-primary:hover {
    color: #ffffff !important;
    background: #f9c53e;
    border: solid 2px #f9c53e !important;
}

.teal-color .cta-secondary {
    border: solid 2px #f9c53e;
    color: #f9c53e;
}

.teal-color .cta-secondary:hover {
    color: #ffffff !important;
    background: #f9c53e;
}

.green-color .cta {
    color: #f9c53e;
}

.green-color .cta-default:hover {
    color: #f9c53e;
}

.green-color .cta-primary {
    background-color: #f9c53e;
    color: #ffffff;
    border: solid 2px #f9c53e;
}

.green-color .cta-primary:hover {
    color: #ffffff !important;
    background: #f9c53e;
    border: solid 2px #f9c53e !important;
}

.green-color .cta-secondary {
    border: solid 2px #f9c53e;
    color: #f9c53e;
}

.green-color .cta-secondary:hover {
    color: #ffffff !important;
    background: #f9c53e;
}

a {
    color: #bbcc31;
}

a:hover {
    color: #bbcc31 !important;
    text-decoration: underline;
    transition: background-color .3s ease-out, color .3s linear;
}
.yellow-color .card-title {
    color: #f9c53e;
}
.teal-color .card-title{
    color: #329f9a;
}
.green-color .card-title{
    color: #bbcc31;
}