// Business component CSS starts 
.business {
    &-container {
        margin-top: 6.25rem;
    }
    &-box {
        &-heading {
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 2.5rem;
            text-align: center;
            font-weight: 800;
            color: #6D7278;
            @include media(tablet) {
                text-align: left;
            }
            @include media(desktop) {
                font-weight: 800;
                font-size: 40px;
            }
        }
    }
    &-list {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 1rem;
        padding: 0.9rem 0 0 0.9rem;
        position: relative;
        &-box {
            font-family: 'Open Sans', sans-serif;
            margin: 0 1rem 0 1rem;
        }
        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
            color: #6D7278;
            font-weight: 300;
            border-bottom: 1px solid #b1b1b1;
            padding-bottom: 1rem;
            padding-left: 1rem;
            a{
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
            color: #6D7278;
            font-weight: 300;
            border-bottom: 1px solid #b1b1b1;
            padding-bottom: 1rem;
            &:hover{
                color: #F38C1A;
                text-decoration: none;
            }
            }
           
        }
    }
}

// Business component CSS ends