// Feature component CSS starts
.feature {
    &-container {
        margin-top: 6.25rem;
    }
    &-box {
        &-heading {
            // font-size: 1.5rem;
            margin-bottom: 2.5rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            text-align: center;
            color: #6D7278;
            @include media(tablet) {}
            @include media(desktop) {
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                font-size: 2.5rem;
                text-align: left;
            }
        }
    }
    &-list {
        font-family: 'Open Sans', sans-serif;
        display: flex;
        @include media(tablet) {
            min-height: 3.75rem;
        }
        &-box {
            margin-left: 1rem;
        }
        &-description {
            font-family: 'Open Sans', sans-serif;
            color: #6D7278;
            font-size: 1rem;
            font-weight: 300;
            @include media(xldesktop) {
                font-weight: 300;
                color: #6D7278;
                font-size: 1.125rem;
                margin-right: 3.8rem;
                line-height: 1.375rem;
            }
        }
        &-icon {
            &-box {
                color: #F28C20;
                margin-right: 1rem;
                font-size: 1rem;
                @include media(tablet) {
                    font-size: 1rem;
                }
                @include media(desktop) {
                    font-size: 1.5rem;
                    margin-right: 2rem;
                }
            }
        }
    }
}

.featureDescription-list {
    display: flex;
    margin-top: 3rem;
}

.featureDescription-list:first-child {
    margin-top: 0.0rem;
}

.featue-list-box .cta-group {
    display: block;
    float: right;
    margin-top: -0.8rem;
}

.col-md-8 .feature-container {
    margin-top: 2rem;
}

.container.contentSection-container .contentSection-box.col-12.text-left .row .col-md-4 {
    margin-top: 2rem;
}

// .container.contentSection-container .contentSection-box.col-12.text-left .row .col-md-4 h4 {
//     margin-top: 3rem;
// }
.featureDescription-cta {
    position: absolute;
    right: 0;
}

// Feature component CSS ends