$primary: #F28C20;
$secondary: #dc7000;
$tertiary: #6D7278;
$quaternary: #ffffff;
$quinary: #F38D1E;
$senary: #888888; // silver headerCta
$septenary: #f5f5f5; // white navbar
$octonary: #54646f; // grey navbar
$nonary: #F38D1F; // orange navbar
$denary: #1ea59a; // green navbar
$eleven: #54645B; // grey navbar