/* * {
    box-sizing: border-box;
}

body,
html {
    font-family: "Roboto Slab", serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
} */

/* .searchContainer {
    margin-top: 2rem;
    padding: 2rem 1rem;
} */

.searchbox [type="search"] {
    width: 15rem;
    padding: 0.5rem;
}



.ais-Hits-list {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    justify-content: center;
}

@media (min-width:1200px) {
    .ais-Hits-list {
        justify-content: left;
    }
}

.ais-Hits-list .ais-Hits-item {
    width: 15rem;
    list-style: none;
    margin: 0rem 2rem;
    /* padding: 2rem;
    background-color: aliceblue;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1); */
}

@media (min-width:992px) {
    .ais-Hits-list .ais-Hits-item {
        margin: 0rem 2rem 0rem 0rem;
    }
}

.searchResults>div {
    margin-bottom: 0.6rem;
}

.ais-Pagination-list {
    display: flex;
}

li.ais-Pagination-item {
    width: 20px;
    list-style: none;
}

.ais-Hits.ais-Hits--empty {
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}


/* added by aman */


/* 
.ais-SearchBox-input {
    width: 100% !important; */
    /* border-radius: 0.4375rem; */
    /* border: solid 0.0025rem #767676;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
} */

.ais-SearchBox-input:focus {
    outline: none;
}














.partner-finder .panel-options li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4375rem;
    color: #767676;
}

.partner-finder .panel-options li label {
    cursor: pointer;
}




.partner-finder #accordion .panel-heading.active a:before {
    transform: rotate(90deg);
    transition: all 0.5s;
    color: #7d8cff;
}

.partner-logo {
    width: 30%;
    align-self: center;
    margin-top: 2rem;
}

.partner-finder .card {
    position: relative;
    margin-top: 1.5rem;
    height: 20rem;
}

.partner-finder .card-img {
    padding-top: 2.5rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.partner-finder .card-body {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    padding-top: 3.5rem;
}

@media (min-width:992px) {
    .partner-finder .card-body {
        padding-top: 7rem;
    }
}

@media (min-width:1200px) {
    .partner-finder .card-body {
        padding-top: 5rem;
    }
}

.partner-finder .card-body-info {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.15rem;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding-top: 1rem;
    font-size: 0.8rem;
}

.partner-finder .card-body-info .cta-group {
    margin: 0;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.partner-finder .card:hover .card-body {
    opacity: 0;
}

.partner-finder .card:hover .card-img {
    opacity: 0;
}

.partner-finder .card:hover .card-body-info {
    opacity: 1;
}

.partner-finder .partner-name {
    font-size: 1.5rem;
}

@media (min-width:992px) {
    .partner-finder .partner-name {
        font-size: 1.3rem;
    }
}

@media (min-width:1200px) {
    .partner-finder .partner-name {
        font-size: 1.5rem;
    }
}

.partner-finder .partner-type {
    font-size: 0.8rem;
    color: #767676;
    margin-top: -0.5rem;
}

.partner-finder .pagination {
    margin-left: 1.7rem;
}

@media (min-width:768px) {
    .partner-finder .pagination {
        margin-left: 12rem;
    }
}

@media (min-width:1200px) {
    .partner-finder .pagination {
        margin-left: 15.7rem;
    }
}





/* filter css */

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    /* padding: 5px 50px 5px 10px;
    border: 1px solid #ccc; */
}


/* .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  } */


/* .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  } */

.dropdown-check-list ul.items {
    padding: 1rem;
    display: none;
    margin: 0;
    border: 2px solid #ccc;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .anchor {
    color: #0094ff;
}

.dropdown-check-list.visible .items {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #fff;
}

