// Cookies component CSS starts
.cookie {
    &-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        background: white;
        z-index: 9999;
        box-shadow: 0.125rem 0.25rem 0.813rem 0 black;
    }
    &-row {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        font-size: 1rem;
        box-shadow: 0.125rem 0.25rem 0.813rem 0 black;
        display: block;
        height: 2.1rem;
        &-content {
            color: #455869;
            @include media(xldesktop) {
                display: contents;
                padding: 0;
                margin: 0;
            }
            @include media(tablet) {
                padding: 0;
                margin: 0;
            }
        }
    }
    &-link {
        color: #F38D1F;
        margin-left: 1rem;
        @include media(tablet) {
            margin: 0;
        }
    }
    &-close {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 1rem;
        color: #c5c5c5;
        font-size: 1rem;
    }
}

// Cookies component CSS ends