// Blog Detail component CSS starts
.blogDetail {
    &-container {}
    &-article {
        &-box {
            padding-left: 10%;
            padding-right: 10%;
            .cta {
                padding: 0;
                font-size: 12px;
                margin: 0 0.2rem 0.5rem 0.2rem;
            }
            .social-icon-box {
                text-align: left;
            }
        }
        &-image {
            width: 100%;
            height: auto;
        }
        &-heading {
            font-family: "Open Sans", sans-serif;
            font-weight: 800;
            color: #6d7278;
            font-size: 1.5rem;
            @include media(xldesktop) {
                font-size: 2.5rem;
            }
        }
        &-by {
            font-size: 1rem;
            font-weight: 300;
            color: #6d7278;
            font-family: "Open Sans", sans-serif;
        }
        &-authorName {
            font-weight: bold;
            font-size: 1rem;
            font-weight: 600;
            color: #000000;
            font-family: "Open Sans", sans-serif;
            &-link {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &-date {
            font-size: 1rem;
            font-weight: 300;
            color: #6d7278;
            font-family: "Open Sans", sans-serif;
        }
        &-description {
            text-align: justify;
            font-size: 1rem;
            font-weight: 300;
            color: #6d7278;
            font-family: "Open Sans", sans-serif;
        }
        &-tag {
            .cta-group {
                margin: 0;
            }
            &-heading {
                display: contents;
                font-family: "Open Sans", sans-serif;
                font-weight: 800;
                color: #6d7278;
                font-size: 0.825rem;
                @include media(xldesktop) {
                    font-size: 0.875rem;
                }
            }
        }
    }
}

// Blog Detail component CSS ends