// Blog Detail component CSS starts
.blogDetail {
    &-container {
        figure img {
            width: 100%;
            height: auto;
        }
        img {
            width: 100%;
            // height: auto;
        }
        .breadcrumb {
            padding: 0;
            @include media (desktop) {
                padding: 0 10%;
            }
        }
    }
    // .mb-4.order-sm-4.order-md-1.col-12 {
    //     height: 11rem;
    //     @include media (tablet) {
    //         height: 22rem;
    //     }
    //     @include media (desktop) {
    //         height: 26rem;
    //     }
    //     @include media (xldesktop) {
    //         height: 38rem;
    //     }
    // }
    &-article {
        &-box {
            @include media(desktop) {
                padding-left: 10%;
                padding-right: 10%;
            }
            .cta {
                padding: 0;
                font-size: 0.75rem;
                margin: 0 0.2rem 0.5rem 0.2rem;
            }
            .social-icon-box {
                text-align: left;
            }
        }
        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            &-box {
                height: 11rem;
                @include media (tablet) {
                    height: 22rem;
                }
                @include media (desktop) {
                    height: 26rem;
                }
                @include media (xldesktop) {
                    height: 38rem;
                }
            }
        }
        &-heading {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            color: #6d7278;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            @include media(xldesktop) {
                font-size: 2.5625rem;
            }
        }
        &-by {
            font-size: 1rem;
            font-weight: 300;
            color: #6d7278;
            font-family: "Open Sans", sans-serif;
        }
        &-authorName {
            font-weight: bold;
            font-size: 1rem;
            font-weight: 600;
            color: #000000;
            font-family: "Open Sans", sans-serif;
            &-box {
                border: 0.0625rem solid #ededed;
                padding: 2rem 0rem;
                background-color: #ffffff;
                @include media(tablet) {
                    padding: 2rem 1rem;
                }
                @include media(desktop) {
                    padding: 2rem 0;
                }
                .blogDetail-article-authorName {
                    &:hover {
                        color: #F38D1E;
                    }
                }
                .blogDetail-article-linkName {
                    color: #000000;
                    font-size: 0.75rem;
                    font-style: italic;
                    &:hover {
                        color: #F38D1E;
                    }
                    &-link{
                        display: block;
                        margin-left: 9rem;
                    }
                }
                a {
                    // display: block;
                    display: inline-block;
                    margin-left: 2rem;
                    &:hover {
                        text-decoration: none !important;
                    }
                }
                p {
                    font-size: 1rem;
                    margin-left: 2.625rem;
                    margin-top: 1rem;
                    padding: 0 1rem;
                    a {
                        margin-left: 0;
                        margin-top: 0.5rem;
                        line-height: 1rem;
                    }
                }
            }
            &-link {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &-date {
            font-size: 1rem;
            font-weight: 300;
            color: #6d7278;
            font-family: "Open Sans", sans-serif;
        }
        &-description {
            text-align: justify;
            font-size: 1rem;
            font-weight: 300;
            color: #6d7278;
            font-family: "Open Sans", sans-serif;
        }
        &-tag {
            .cta-group {
                margin: 0;
            }
            &-heading {
                display: contents;
                font-family: "Open Sans", sans-serif;
                font-weight: 800;
                color: #6d7278;
                font-size: 0.825rem;
                @include media(xldesktop) {
                    font-size: 0.875rem;
                }
            }
        }
    }
    &-placeholder {
        &-image {
            display: inline-block;
            img {
                border-radius: 50%;
                width: 5rem;
                height: auto;
            }
        }
    }
}

.breadcrumb {
    padding: 0 2%;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #6d7278;
    background-color: #ffffff !important;
    a {
        color: #6d7278;
    }
    @include media(tablet) {
        padding: 0 4%;
    }
    @include media(xldesktop) {
        padding: 0 10%;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\003E" !important;
}

// Blog Detail component CSS ends