.card-inner .card-body h6.card-subtitle{
    margin-bottom: 2rem !important;
}
.banner-bg .banner-bg-height{
    height: 112% !important;
}
.affix.home-header .multilang-container{
    margin-top: -10rem;
    margin-left: 14rem;
}
.footer-logo-box .social-icon-box{
    font-size: 0 !important;
}