.blog-banner {
    margin-top: 2rem;
    @include media (xldesktop) {
        margin: 0;
    }
    // &-image{
    //     width: 100%;
    //     &-box{
    //         position: relative;
    //     }
    // }
    // &-heading{
    //     &-box{
    //         position: absolute;
    //         bottom: 0;
    //         background-color: #fff;
           
    //     }
    // }
    
    &-inner {
        position: relative;
        .banner-image-box {
            object-fit: cover;
            // @include media(tablet) {
            //     margin-bottom: -4rem;
            // }
            // @include media(desktop) {
            //     margin-bottom: -6rem;
            // }
            // @include media(xldesktop) {
            //     margin-bottom: -29rem;
            // }
            .banner-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                @include media(tablet) {
                    height: 26rem;
                }
                @include media(desktop) {
                    height: 32rem;
                }
                @include media(xldesktop) {
                    height: 35rem;
                }
            }
        }
    }
    .banner-heading {
        font-size: 16px;
        line-height: 20px;
        @include media (tablet) {
            font-size: 24px;
            line-height: 30px;
        }
        @include media (desktop) {
            font-size: 35px;
            line-height: 42px;
        }
        &-box {
            // width: 100%;
            padding: 8px 15px 1px 17px;
            margin-top: 1rem;
            @include media (tablet) {
                margin-top: 0;
                padding: 8px 8px 5px 8px;
                width: 80%;
                left: 14.5px;
                position: absolute;
                bottom: -9rem;
                background-color: white;
                
            }
            @include media(desktop) {
                padding: 8px 15px 5px 8px;
                bottom: -1px;
            }
            @include media(xldesktop) {
                bottom: 0;
            }
        }
    }
    p {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 2px;
        @include media (tablet) {}
        @include media (desktop) {
            font-size: 1rem;
            line-height: 20px;
        }
    }
    .blog-cta {
        justify-content: center;
        @include media (tablet) {
            margin-top: 13rem !important;
        }
        @include media (desktop) {
            margin-top: 6rem !important;
        }
        @include media (xldesktop) {
            margin: 8rem 0 5rem 0 !important;
        }
    }
    .blogList {
        margin: 0 15px;
    }
    .blogList .bottom-tag {
        position: absolute;
        bottom: 0;
    }
    .cta {
        padding: 10px 20px;
        margin: 0 12px;
        @include media (tablet) {
            margin: 0 24px;
        }
        @include media (tablet) {
            padding: 10px 40px;
            margin: 0 5px;
        }
        @include media (xldesktop) {
            padding: 10px 80px;
            // margin: 0;
        }
    }
    .cta-icon-box {
        margin-top: 4px;
    }
    ul.options>li {
        padding-top: 5px;
    }
    .option-set {
        width: 18rem;
        padding: 0.8rem 0 0 0;
    }
    .option-set a {
        color: #6d7278;
    }
    .option-set a:hover {
        text-decoration: none;
        color: #F28C20;
    }
    button:focus {
        outline: none;
    }
    .dropdown:hover .dropdown-menu {
        @include media(tablet) {
            margin-top: 0;
            margin-left: -2rem;
        }
        @include media(desktop) {
            margin-left: 0;
        }
        @include media(xldesktop) {
            display: block;
            margin: 0 0 0 1rem;
        }
    }
    .options {
        padding: 0 1.5rem;
    }
    .option-2 {
        @include mobile-only {
            transform: translate3d(-131px, 46px, 0px) !important;
            width: 17.5rem !important;
        }
        @include media(tablet) {
            margin-top: 0;
            left: 18px !important;
            width: 17.5rem;
        }
        @include media(desktop) {
            left: 0 !important;
            left: -52px !important;
        }
        @include media(xldesktop) {
            left: -21px !important;
            width: 18.5rem !important;
        }
    }
    .option-1 {
        @include mobile-only {
            transform: translate3d(25px, 46px, 0px) !important;
            width: 17.5rem !important;
        }
        @include media(tablet) {
            margin-top: 0;
            left: 10px;
            width: 17.5rem !important;
        }
        @include media(desktop) {
            left: -43px !important;
        }
        @include media(xldesktop) {
            left: -8px !important;
            width: 18.5rem !important;
        }
    }
    .dropdown-menu.show {
        @include media(xldesktop) {
            display: none !important;
        }
    }
    .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }
}