// Carousel component CSS starts
.carousel-wrap {
    margin: 0 auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
}

.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav {
    display: flex;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -30px;
    &:focus {
        outline: none;
    }
    &:hover {
        background: #ffffff !important;
        color: #000000 !important;
    }
}

.owl-nav .owl-next {
    right: -30px;
    &:focus {
        outline: none;
    }
    &:hover {
        background: #ffffff !important;
        color: #000000 !important;
    }
}

.owl-item {
    margin-top: 2rem;
    margin-right: 2rem;
}

.carouselArrow {
    position: absolute;
    top: 2.5rem;
    color: #6D7278 !important;
    // &:hover {
    //     color: #6D7278 !important;
    // }
}

// Carousel component CSS ends