.carrers {
    &-content {
        padding: 3.75rem;
        &-white {
            color: #ffffff;
        }
        &-grey {
            color: #6D7278;
        }
        p {
            font-weight: 400;
        }
    }
    &-section {
        .contentSection-box {
            p {
                text-align: center;
            }
        }
    }
}

.carrersImage {
    width: 100%;
    height: 100%;
    padding: 0;
    display: none;
    object-fit: cover;
    object-position: center;
    @include media(desktop) {
        display: block;
    }
}

.carrersImageparent {
    object-fit: cover;
    padding: 0;
}

.green-studio {
    background-color: #BBCC33;
    h4 {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
}

.orange {
    background-color: #F28C20;
    h4 {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
}

.white {
    background-color: #ffffff;
    h4 {
        color: #6D7278;
    }
    p {
        color: #6D7278;
    }
}

.teal {
    background-color: #009F9A;
    h4 {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
}

.green {
    background-color: #005346;
    h4 {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
}