.contentCenterCard {
    .element {
        &-item {
            position: static !important;
        }
    }
}

.no-results {
    display: none;
}

.filteringLabel {
    font-weight: bold;
}

.filteringLabel2 {
    font-weight: bold;
}

.caseStudy p#dropdownValue {
    text-align: center;
    padding: 0 1rem;
}