// Content Section component CSS starts
.contentSection {
   
    &-container {
        img{
            width: 100%;
            height: auto;
        }
    }
    &-box {
        &-heading {
            font-weight: 800;
            // line-height: 44px;
            margin-top: 2.5rem;
            font-family: 'Open Sans', sans-serif;
            color: #6D7278;
            font-size: 1.5rem;
            @include media(desktop) {
                margin-top: 3.5rem;
                font-size: 2.5rem;
            }
        }
        &-subheading {}
        &-description {
            color: #6D7278;
            font-size: 1.125rem;
        }
        .cta{
            &-group{
                justify-content: center;
                // text-align: center;
            }
            &-icon{
                &-box{
                    width: 1.375rem;
                    height: auto;
                }
            }
        }
    }
}

.fivecolumnheading {
    text-align: center;
    @include media(tablet) {
        text-align: center;
        // margin-left: 8rem;
    }
    @include media(desktop) {
        text-align: left;
        // margin-left: 5rem;
    }
}

// Content Section component CSS ends