// Content Section component CSS starts
.contentSection {
    &-container {}
    &-box {
        &-heading {
            font-weight: 800;
            // line-height: 44px;
            margin-bottom: 1.5rem;
            margin-top: 2.5rem;
            font-family: 'Open Sans', sans-serif;
            color: #6D7278;
            font-size: 1.5rem;
            @include media(desktop) {
                margin-top: 3.5rem;
                font-size: 2.5rem;
            }
        }
        &-subheading {}
        &-description {
            color: #6D7278;
            font-size: 1.125rem;
        }
    }
}

.fivecolumnheading {
    text-align: center;
    @include media(tablet) {
        text-align: center;
        // margin-left: 8rem;
    }
    @include media(desktop) {
        text-align: left;
        margin-left: 5rem;
    }
    @include media(xldesktop) {
        text-align: left;
        margin-left: 6.5rem;
    }
}

// Content Section component CSS ends