.contentCenterCard {
    .element {
        &-item {
            position: static !important;
        }
    }
}

.no-results {
    display: none;
}

.filteringLabel {
    font-weight: bold;
}

.filteringLabel2 {
    font-weight: bold;
}

.caseStudy p#dropdownValue {
    text-align: center;
    padding: 0 1rem;
}

// added by abhishek

.grid .card {
    img.card-img-top {
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        min-width: 100%;
        min-height: 100%;
        width: -webkit-fill-available;
        height: auto;
    }

    .top-left {
        z-index: 11;
    }

    .card-image-box {
        min-height: 15rem;
        background-color: #999;
        overflow: hidden;
    }
}