.contentCenterCard {
    .element {
        &-item {
            position: static !important;
        }
    }
}

.no-results {
    display: none;
}

.filteringLabel {
    font-weight: bold;
}

.filteringLabel2 {
    font-weight: bold;
}

.caseStudy p#dropdownValue {
    text-align: center;
    padding: 0 1rem;
}

// added by abhishek
.grid{
    height: auto !important;
}

.grid .element-item {
    position: static !important;
}
.grid .element-item .card-image-box {
    text-align: center;
}
.grid .element-item .card-img-top {
    max-width: 100%;
    margin: 0 auto;
    width: auto;
}
.control-box {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}

/* FOR MOBILE */
/* flex: 0 0 100%; */
.control-box .filter-searchbox {
    flex: 0 0 100%;
    padding: 0.75rem 0.5rem;
    @include media(desktop){
        flex: 0 0 50%;
    }
}

/* FOR MOBILE */
/* flex: 0 0 100%; */
.control-box .filter-dropdown {
    flex: 0 0 100%;
    padding: 0.5rem;
    @include media(desktop){
        flex: 0 0 25%;
    }
}

.control-box .filter-dropdown .dropdown-toggle {
    width: 100%;
    margin: 0;
}



// .grid .card {
//     img.card-img-top {
//         position: absolute;
//         left: 0;
//         top: 0px;
//         z-index: 10;
//         min-width: 100%;
//         min-height: 100%;
//         width: -webkit-fill-available;
//         height: auto;
//     }

//     .top-left {
//         z-index: 11;
//     }

//     .card-image-box {
//         min-height: 15rem;
//         background-color: #999;
//         overflow: hidden;
//     }
// }