.courseCalender {
    .eventsBody {
        color: #6d7278;
    }
    .title {
        // font-size: 1.25rem;
        // line-height: 1.5rem;
        font-weight: 800;
        margin-bottom: 1rem;
    }
    .label {
        font-weight: 800;
        padding: 0.5rem 2rem;
        width: 8.125rem;
        @include media (tablet) {
            width: 11.5rem;
        }
    }
    .list-inline {
        margin: 0;
    }
    .list-inline>li {
        padding: 0.5rem 0 0.5rem 2rem;
    }
    td {
        padding: 0 3rem 0 1rem;
        @include media (tablet) {
            padding: 0;
        }
        @include media (desktop) {
            padding: 0 3rem 0 2rem;
        }
    }
    .city {
        display: inline-block;
        width: 5.3125rem;
        font-weight: 600;
        @include media (tablet) {
            width: 8.625rem;
        }
        // @include media (desktop) {
        //     width: 8.6875rem;
        // }
        @include media (xldesktop) {
            width: 9.0625rem;
        }
    }
    .time {
        width: 10.625rem;
        display: inline-block;
    }
    .cta-group {
        margin: 0 -0.5rem;
    }
    @include mobile-only {
        // font-size: 0.75rem;
    }
    .cta-primary {
        margin-left: 2rem;
    }
    .soldOut {
        margin-left: 1.6rem;
        font-weight: 600;
    }
}