.calenderDetails {
    color: #6d7278;
    &-rowbg {
        color: #6d7278;
        background-color: #ececec;
        padding: 1rem 0;
        font-size: 1.125rem;
        .heading {
            font-weight: 800;
            @include media (desktop) {
                font-size: 1rem;
            }
            @include media (xldesktop) {
                font-size: 1.125rem;
            }
        }
        .details {
            @include media (desktop) {
                font-size: 1rem;
            }
            @include media (xldesktop) {
                font-size: 1.125rem;
            }
            @include media (desktop) {
                margin-top: 0;
            }
        }
        .price {
            margin-top: 1.5rem;
            @include media (desktop) {
                margin-top: 0;
            }
        }
    }
    .tile-box:first-child {
        padding-top: 2rem;
        border: none;
    }
    .tile-box {
        border-top: 1px solid #ececec;
        padding: 1rem;
        @include media (tablet) {
            padding: 1rem 0;
        }
    }
    h4 {
        color: #F38D1E;
    }
    p {
        color: #6d7268;
        font-weight: 400;
    }
    li {
        color: #6d7278;
        font-weight: 300;
    }
}