// Grid Carousel CSS starts 
.owl {
    &-carousel {
        padding: 10px;
    }
    &-prev {
        margin: 0.5rem;
    }
    &-next {
        margin: 0.5rem;
    }
}

.flex-container {
    display: block;
    flex-wrap: nowrap;
    @include media(tablet) {
        display: flex;
    }
}

.carousel {
    &-article {
        &-box {
            width: 22rem;
            margin: 10px 2px 2rem;
            font-size: 30px;
            position: relative;
            &:hover {
                text-decoration: none;
            }
            &-link {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &-image {
            &-box {
                // position: relative;
            }
            &-tag {
                z-index: 1;
                padding: 0.2rem 1.2rem;
                background: #F38D1E;
                color: #ffffff;
                font-weight: 700;
                font-size: 0.8rem;
            }
        }
        &-heading {
            font-family: "Open Sans", sans-serif;
            font-weight: 800;
            color: #6d7278;
            font-size: 1.5rem;
            margin-top: 0;
        }
    }
    &-tab {
        color: #000000;
        display: flex;
        justify-content: center;
        border-radius: 3px;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none !important;
        padding: 10px 20px;
        &-active {
            background-color: #F28C20;
            color: #ffffff !important;
            border: solid 2px #F28C20;
            margin: 0;
        }
        &-content {
            margin: 0 5px;
        }
    }
}

.tab {
    &-group {
        margin: 1rem #{$buttongap};
        flex-wrap: wrap;
        width: 98%;
    }
}

.nav {
    display: block;
    @include media(tablet) {
        display: flex;
    }
    &-tabs {
        border-bottom: 2px solid #F28C20;
    }
}

.top {
    position: absolute;
    top: 0rem;
}

.bottom {
    position: absolute;
    bottom: 3.25rem;
}

// Grid Carousel CSS ends