// Grid Carousel CSS starts 
.owl {
    &-carousel {
        padding: 10px;
    }
    &-prev {
        margin: 0.5rem;
    }
    &-next {
        margin: 0.5rem;
    }
}

.flex-container {
    display: block;
    flex-wrap: nowrap;
    @include media(desktop) {
        display: flex;
    }
}

.carousel {
    &-article {
        &-box {
            width: 20rem;
            margin: 10px;
            font-size: 30px;
            &:hover {
                text-decoration: none;
            }
        }
        &-image {
            &-box {
                position: relative;
            }
            &-tag {
                z-index: 1;
                padding: 0.2rem 1.2rem;
                background: #F38D1E;
                color: #ffffff;
                font-weight: 700;
                font-size: 0.8rem;
            }
        }
        &-heading {
            font-family: "Open Sans", sans-serif;
            font-weight: 800;
            color: #6d7278;
            font-size: 1.5rem;
        }
    }
    &-cta {
        color: #000000;
        &-active {
            background-color: #F28C20;
            color: #ffffff !important;
            border: solid 2px #F28C20;
        }
    }
}

// Grid Carousel CSS ends