// Grid Carousel CSS starts 
.owl {
    &-carousel {
        padding: 10px;
    }
    &-prev {
        margin: 0.5rem;
    }
    &-next {
        margin: 0.5rem;
    }
}

.flex-container {
    display: block;
    flex-wrap: nowrap;
    @include media(tablet) {
        display: flex;
    }
}

.item {
    &-row {
        margin: 0 -0.125rem;
    }
}

.article {
    &-box {
        margin: 0 0.125rem 2rem;
        padding: 0 0.3rem;
        font-size: 30px;
        position: relative;
        width: calc(20% - 0.3rem);
        // @include media(tablet) {
        //     width: 9.290624rem;
        // }
        // @include media(xldesktop) {
        //     width: 13.882811737rem;
        // }
        &:hover {
            text-decoration: none;
        }
        &-link {
            &:hover {
                text-decoration: none;
            }
        }
    }
    &-image {
        &-box {
            // position: relative;
            background-color: #ececec;
            width: auto;
            @include media(desktop) {
                height: 94.83px;
            }
            @include media(xldesktop) {
                height: 143.8px;
            }
        }
        &-tag {
            z-index: 1;
            padding: 0.2rem;
            background: #F38D1E;
            color: #ffffff;
            font-size: 0.75rem;
            @include media(tablet) {
                font-size: 0.45rem;
            }
            @include media(desktop) {
                font-size: 0.75rem;
            }
        }
    }
    &-heading {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #000000;
        font-size: 0.875rem;
        line-height: 1rem;
        margin-top: 0;
        padding-top: 0.3rem;
        @include media(tablet) {
            font-size: 0.75rem;
            line-height: 0.9rem;
        }
        @include media(desktop) {
            font-size: 0.875rem;
            line-height: 1rem;
        }
        &:hover {
            color: #F28C20;
        }
    }
}

img[alt] {
    font-size: 1rem;
}

.carousel {
    &-tab {
        color: #F28C20;
        display: flex;
        justify-content: center;
        border-radius: 3px;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none !important;
        padding: 11px 20px;
        &:hover {
            color: #F28C20;
        }
        &-active {
            background-color: #F28C20;
            color: #ffffff !important;
            // border: solid 2px #F28C20;
            margin: 0;
        }
        &-content {
            margin: 0 5px;
        }
    }
}

.tab {
    &-group {
        margin: 1rem #{$buttongap};
        flex-wrap: wrap;
        width: 97%;
        padding: 0 0.4rem;
        @include media(tablet) {
            padding: 0 6.5rem;
            margin: 1rem 1rem;
        }
        @include media(desktop) {
            margin: 1rem #{$buttongap};
        }
        @include media(xldesktop) {
            padding: 0 10rem;
        }
    }
    &-content {
        padding: 0 0.35rem 0 0;
        @include media(tablet) {
            padding: 0;
        }
    }
}

.nav {
    display: flex;
    &-tabs {
        border-bottom: 2px solid #F28C20;
    }
}

.top {
    position: absolute;
    top: 0.2rem;
}

.bottom {
    position: absolute;
    top: 8.15rem;
    @include media(tablet) {
        top: 2.65rem;
    }
    @include media(desktop) {
        top: 4.7rem;
    }
    @include media(xldesktop) {
        top: 7.55rem;
    }
}

.owl-item {
    margin-top: 1rem;
}

// Grid Carousel CSS ends