.headerLogo {
    &-container {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media(desktop) {
            justify-content: flex-end;
        }
        text-shadow: none;
    }
    &-link {}
    &-image {
        width: auto;
        height: 3.5rem;
    }
}

@include mobile-only {
    .headerLogo {
        &-container {
            text-align: center;
        }
    }
}