// Banner component CSS starts
.banner {
    &-bg {
        &-row {
            padding-top: 3rem;

            @include media(xldesktop) {
                padding-top: 6rem;
            }
        }

        &-image {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            top: 7rem;

            @include media (tablet) {
                height: 100%;
                object-fit: cover;
                z-index: -1;
                top: 0;
            }

            @include media (xldesktop) {
                height: 60%;
                top: 3rem;
            }
        }

        .cta {
            background-color: #FFFFFF;
            border: none;

            &-group {
                margin: 1rem 0;
            }

            &:hover {
                border: none !important;
            }

            &-content {
                color: #009E99;
            }
        }
    }

    &-bg &-heading {
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 2.5rem;

        @include media(tablet) {
            font-size: 2.875rem;
        }

        @include media(xldesktop) {
            font-size: 3.75rem;
        }
    }

    &-bg &-subheading {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 1.313rem;
        color: #FFFFFF;
        line-height: 30px;

        @include media(tablet) {
            font-size: 1.5rem;
        }
    }

    &-bg &-content {
        color: #ffffff;
    }

    &-bg &cta {
        background: #ffffff;
        border: 2px solid #ffffff;
    }

    &-heading {
        color: #6D7278;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 60px;
    }

    &-subheading {
        color: #6D7278;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
    }

    &-content {
        color: #6D7278;
    }

    &-image {
        width: 100%;
        height: auto;
    }

    &-content {
        &-right {
            flex-direction: row-reverse;
        }
    }
}

// Banner component CSS ends