// Banner component CSS starts
.banner {
    &-bg {
        margin-bottom: 6rem;
        &-row {
            padding-top: 1rem;
            @include media(desktop) {
                padding-top: 6rem;
            }
        }
        &-height {
            top: 7rem !important;
            @include media(tablet) {
                top: 4rem !important;
                height: 85% !important;
            }
            @include media(desktop){
                height: 35% !important;
            }
            @include media(xldesktop) {
                top: 2rem !important;
                height: 65% !important;
            }
        }
        &-image {
            position: absolute;
            width: 100%;
            height: 90%;
            // object-fit: cover;
            z-index: -1;
            top: 0;
            @include media (tablet) {
                height: 85%;
                // object-fit: cover;
                z-index: -1;
                top: 0;
                // padding: 5rem 0;
            }
            @include media (xldesktop) {
                height: 65%;
                // top: 3rem;
                padding: 0;
            }
        }
        .cta {
            background-color: #FFFFFF;
            border: none;
            &-group {
                margin: 1rem 0;
            }
            &:hover {
                border: none !important;
            }
            &-content {
                color: #009E99;
            }
        }
    }
    &-bg &-heading {
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 2.5rem;
        @include media(tablet) {
            font-size: 2.875rem;
        }
        @include media(xldesktop) {
            font-size: 3.75rem;
        }
    }
    &-bg &-subheading {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 1.313rem;
        color: #FFFFFF;
        line-height: 30px;
        @include media(tablet) {
            font-size: 1.5rem;
        }
    }
    &-bg &-content {
        color: #ffffff;
    }
    &-bg &cta {
        background: #ffffff;
        border: 2px solid #ffffff;
    }
    &-heading {
        color: #6D7278;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 60px;
        &-box {
            padding: 8.2rem 0 0 0;
        }
    }
    &-subheading {
        color: #6D7278;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
    }
    &-content {
        color: #6D7278;
    }
    &-image {
        width: 100%;
        height: auto;
    }
    &-content {
        &-right {
            flex-direction: row-reverse;
        }
    }
}

// Banner component CSS ends