.banner-bg {
    position: relative;
    height: auto;
    padding: 140px 0 100px 0;
    margin-top: -7rem;
   // background-image: url(../../images/banner-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    z-index: -1;
    @include media(tablet){
        margin-top: -6rem;
    }
    @include media(desktop){
        margin-top: -8rem;
    }
    @include media(xxldesktop) {
        padding: 140px 0 250px 0;
    }
}