// Home header CSS starts
.home-header {
    @include media(xldesktop) {
        position: fixed;
        z-index: 1;
    }
    &.affix {
        position: fixed;
        top: 0;
        z-index: 999999;
        background-color: #ffffff !important;
        background: transparent;
        @include media(xldesktop) {
            padding: 0.5rem 0 0 0;
        }
    }
    .nav {
        &-link {
            @include media(tablet) {
                color: #ffffff !important;
            }
        }
        &-links {
            &-box {
                .cta {
                    &-primary {
                        background: transparent;
                        @include media(xldesktop) {
                            background-color: #ffffff;
                        }
                        border: none;
                        .cta {
                            &-content {
                                color: #ffffff;
                                @include media(xldesktop) {
                                    color: #009E99;
                                }
                            }
                        }
                        &:hover {
                            border: none !important;
                        }
                    }
                    &-secondary {
                        border: solid 2px #ffffff;
                        @include media(tablet) {
                            border: none;
                        }
                        @include media(xldesktop) {
                            border: solid 2px #ffffff;
                        }
                        &:hover {
                            background: #ffffff !important;
                            color: #009E99 !important;
                        }
                        &:hover .cta-content {
                            color: #009E99;
                        }
                        .cta {
                            &-content {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
    .multilang {
        &-container {}
        &-dropdown {
            color: #ffffff;
        }
    }
    .search {
        &-box {
            &-searchIcon {
                color: #ffffff;
            }
        }
    }
    .logo {
        &-grey {
            display: none;
        }
        &-white {
            display: block;
        }
    }
}

.affix {
    padding: 0;
    @include media(tablet) {
        padding: 1rem;
    }
    @include media(xldesktop) {
        padding: 0;
    }
    .navbar {
        display: block;
        @include media(tablet) {
            display: none;
        }
        @include media(xldesktop) {
            display: block;
        }
    }
    .nav {
        &-link {
            color: #54646f !important;
        }
        &-links {
            &-box {
                display: block;
                @include media(tablet) {
                    display: none;
                }
                @include media(xldesktop) {
                    display: block;
                }
                .cta {
                    &-primary {
                        background-color: #F28C20;
                        color: #ffffff;
                        display: none;
                        @include media(tablet) {
                            display: block;
                        }
                        @include media(xldesktop) {
                            display: block;
                        }
                        .cta {
                            &-content {
                                color: #ffffff;
                            }
                        }
                        &:hover {
                            color: #ffffff;
                            background: #dc7000;
                        }
                    }
                    &-secondary {
                        border: solid 2px #F28C20;
                        color: #F28C20;
                        display: none;
                        @include media(tablet) {
                            display: block;
                        }
                        @include media(xldesktop) {
                            display: block;
                        }
                        &:hover {
                            color: #ffffff !important;
                            background: #dc7000 !important;
                        }
                        &:hover .cta-content {
                            color: #ffffff;
                        }
                        .cta {
                            &-content {
                                color: #F28C20;
                                &:hover {
                                    color: #ffffff !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .multilang {
        &-container {
            display: inline-flex;
        }
        &-dropdown {
            color: #000000;
            display: none;
            @include media(tablet) {
                display: block;
            }
            @include media(xldesktop) {
                display: block;
            }
        }
    }
    .search {
        &-box {
            margin-top: 0;
            @include media(xldesktop) {
                margin-top: 1.5rem;
            }
            &-searchIcon {
                color: #F28C20;
            }
        }
    }
    .logo {
        &-white {
            display: none;
        }
        &-grey {
            display: block;
        }
    }
}

// Home header CSS ends