.modeler-box {
    .row.is-flex:before,
    .row.is-flex:after {
        width: 0;
    }
    .row.is-flex>[class*='col-'] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .row.is-flex>[class*='col-'] {
        display: flex;
    }
    .plan__body-container {
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        padding: 0;
    }
    .text-center {
        text-align: center;
    }
    .plan__body {
        height: 100%;
        padding: 1rem 0 4rem;
    }
    .text-center {
        text-align: center;
    }
    h5.nb-h5,
    .nb-h5 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 22px;
    }
    .nb-gray {
        color: #6D7278;
    }
    .nb-800 {
        font-weight: 800;
    }
    .text-center {
        text-align: center;
    }
    h3 {
        font-size: 20px;
        margin-top: 0;
    }
    .plan__team-size {
        color: #6D7278;
        font-size: 12px;
        padding: 0 0.8rem;
        margin-bottom: 1.6rem;
        font-style: italic;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    .plan__pricing {
        margin-bottom: 0;
    }
    .plan__price {
        color: #F28C20;
        font-size: 27px;
        font-weight: 800;
        font-family: 'Open Sans', sans-serif;
    }
    .plan__currency {
        color: #F28C20;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
    }
    .plan__per-month {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        color: #F28C20;
        font-family: 'Open Sans', sans-serif;
    }
    .plan__frequency {
        font-style: italic;
        color: #6D7278;
    }
    .feature-info {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10px;
        padding-right: 5px;
        font-size: 16px;
        color: #83939C;
    }
    .plan__frequency--border {
        display: inline-block;
        width: 90%;
        border-top: 1px solid #E5E5E5;
        padding: 0.8rem 0.8rem 0;
        margin-top: 0.8rem;
        color: #6D7278;
    }
    .ti-margin-t20-b20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ti-f400 {
        font-weight: 400;
    }
    .ti-padding-lr {
        padding-left: 15px;
        padding-right: 15px;
    }
    .ti-margin-t20 {
        margin-top: 20px;
    }
    .ti-txt14 {
        font-size: 14px;
        line-height: 18px;
        display: block;
    }
    .text-left {
        text-align: left;
    }
    p.features__list-item.bz-list__item {
        font-size: 12px;
        margin-bottom: 0;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #6D7278;
        font-size: 18px;
        line-height: 22px;
    }
    p {
        margin: 0 0 10px;
    }
    .features__list-item:before {
        content: "\2713";
        color: #1ea59a;
        margin-right: 0.8rem;
    }
    a.nb-link-textimg-center {
        display: block;
        text-align: center;
        width: 100%;
    }
    .ti-margin-t20 {
        margin-top: 20px;
    }
    .ti-margin-b10 {
        margin-bottom: 10px;
    }
    span.nb-link-text {
        font-size: 16px;
        line-height: 0px;
        margin-top: 10px;
        color: #F38C1A;
        font-weight: 700;
    }
    img.nb-link-img {
        width: 22px;
        margin: 0px 0 0px 5px;
    }
    a img {
        border: none;
    }
    a img {
        border: none;
        vertical-align: bottom;
    }
    img {
        height: auto;
        max-width: 100%;
    }
    .modal-popup {
        z-index: 99999990 !important;
    }
    .fa-info-circle {
        margin-left: 8px;
        color: #6D7278;
    }
    .fa {
        font-size: 16px !important;
    }
    .tooltip .tooltiptext {
        width: 5rem;
        right: -6rem;
        top: -3.2rem;
        font-size: 11px;
        text-align: inherit;
        border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
    }
    .tooltip::before {
        border: solid;
        border-color: #444 transparent;
        border-width: 13px 6px 0 6px;
        content: "";
        left: 45%;
        bottom: 30px;
        position: absolute;
    }
    .cta {
        margin: 2.2rem 0.8rem 3rem;
        @include media (tablet) {
            margin: 2.2rem 1.2rem 3rem;
        }
        @include media (desktop) {
            margin: 2.2rem 3rem 3rem;
        }
        @include media (xldesktop) {
            margin: 2.2rem 4rem 3rem;
        }
    }
}