#es {
    .cta.cta-header {
        font-size: 11px;
        @include media(desktop) {
            font-size: 10px;
        }
        @include media(xldesktop) {
            font-size: 11px;
        }
    }
    .inner-banner .banner-heading {
        font-size: 1.5rem;
        @include media(desktop) {
            font-size: 2.5rem !important;
        }
        @include media(xldesktop) {
            font-size: 3rem !important;
        }
    }
}

#de {
    .inner-banner .banner-heading {
        font-size: 1.5rem;
        @include media(desktop) {
            font-size: 2.5rem !important;
        }
        @include media(xldesktop) {
            font-size: 3rem !important;
        }
    }
}

#pt {
    .cta.cta-header {
        font-size: 11px;
    }
    @include media(desktop) {
        font-size: 10px;
    }
    @include media(xldesktop) {
        font-size: 11px;
    }
    .inner-banner .banner-heading {
        font-size: 1.5rem;
        @include media(desktop) {
            font-size: 2.5rem !important;
        }
        @include media(xldesktop) {
            font-size: 3rem !important;
        }
    }
}