.side .swiper-button-prev {
    margin-left: 1rem;
}

.side .swiper-button-next {
    margin-right: 1rem;
}

.carousel-button {
    display: flex;
}

.swiper-btn:focus {
    outline: none;
}

.side .swiper-btn {
    position: absolute;
    top: 1.5rem;
}

.swiper-slide .partner-logo-image {
    max-width: 100%;
    width: 60%;
    margin: 20px 20px 20px 60px;
}

.swiper-slide.partner-logo {
    width: 75%;
    justify-content: center;
    @include media (tablet) {
        margin: 0 8px !important;
    }
    @include media (desktop) {
        margin: 0 10px 0 8px !important;
        // width: 20% !important;
    }
}

// .swiper-button-next:after {
//     content: "";
// }
// .swiper-button-prev:after {
//     content: "";
// }
// .swiper-button-next {
//     color: black;
//     font-size: 65px;
//     position: absolute;
//     top: 27rem;
//     left: 6rem;
//     @include media (tablet) {
//         top: 29rem;
//         left: 6rem;
//     }
//     @include media (desktop) {
//         top: 33rem;
//         left: 6rem;
//     }
//     @include media (xldesktop) {
//         top: 37rem;
//         left: 14rem;
//     }
// }
// .swiper-button-prev {
//     color: black;
//     font-size: 65px;
//     position: absolute;
//     top: 27rem;
//     left: 2rem;
//     @include media (tablet) {
//         top: 29rem;
//         left: 2rem;
//     }
//     @include media (desktop) {
//         top: 33rem;
//         left: 2rem;
//     }
//     @include media (xldesktop) {
//         top: 37rem;
//         left: 10rem;
//     }
// }
// .text {
//     text-align: center;
// }