.swiper-container {
    .article-box {
        padding: 0;
        cursor: pointer;
        @include mobile-only {
            padding: 0 0.5rem;
        }
    }
    .bottom-tag {
        position: absolute;
        bottom: 0rem;
        @include media (tablet) {
            // bottom: 5.3rem;
        }
        @include media (desktop) {}
        @include media (xldesktop) {}
    }
    .top {
        top: 0rem;
    }
    .article-heading {
        margin-top: 0;
        font-size: 0.875rem;
        line-height: 0.9rem;
        @include media (desktop) {
            // margin-top: 1.5rem;
        }
        @include media (xldesktop) {
            font-size: 0.875rem;
            line-height: 1rem;
        }
    }
    .article-heading:hover {
        color: #000000;
    }
    .article-image-box {
        position: relative;
        // height: auto;
        height: 13rem;
        @include media(tablet) {
            height: 5rem;
        }
        @include media(desktop) {
            height: 7rem;
        }
        @include media(xldesktop) {
            height: 9rem;
        }
    }
    .article-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .article-image-tag:hover {
        text-decoration: none;
        color: #ffffff;
    }
}

.swiper-button-next:after {
    content: "";
}

.swiper-button-prev:after {
    content: "";
}

.nav-tabs {
    margin: 0 0 1.5rem 0;
}

.swiper-button-next {
    color: #F28C20;
    font-size: 33px;
    margin-left: 4rem;
    @include media (xldesktop) {
        margin-left: 4rem;
    }
}

.carousel-button {
    display: flex;
}

.swiper-btn:focus {
    outline: none;
}

.swiper-btn {
    position: static;
    margin-top: 0rem;
    width: 0;
}

.swiper-button-prev {
    color: #F28C20;
    font-size: 33px;
    margin-left: 8.7rem;
    @include media (tablet) {
        margin-left: 20rem;
    }
    @include media (desktop) {
        margin-left: 27rem;
    }
    @include media (xldesktop) {
        margin-left: 45rem;
    }
}

.fa-angle-left, .fa-angle-right{
    font-size: 50px;
}

/////////////////////////////////////////////////////////////////
// .swiper-button-next {
//     color: black;
//     font-size: 50px;
//     margin-left: 4rem;
//     //     position: absolute;
//     //     left: 6rem;
//     //     @include media (tablet) {
//     //         left: 6rem;
//     //     }
//     //     @include media (desktop) {
//     //         left: 6rem;
//     //     }
//     @include media (xldesktop) {
//         margin-left: 4rem;
//     }
// }
// .carousel-buttons {
//     display: flex;
// }
// .swiper-btn {
//     position: static;
//     margin-top: 0rem;
//     // height: 0;
//     width: 0;
//     // margin-top: 0;
//     // display: block;
// }
// .swiper-button-prev {
//     color: black;
//     font-size: 50px;
//     margin-left: 3rem;
//     //     position: absolute;
//     //     left: 2rem;
//     //     @include media (tablet) {
//     //         left: 2rem;
//     //     }
//     //     @include media (desktop) {
//     //         left: 2rem;
//     //     }
//     @include media (xldesktop) {
//         margin-left: 10.5rem;
//     }
// }
///////////////////////////////////////////////
// .column-5.row-2 {
//     .swiper-button-next {
//         top: 28rem;
//         @include media (tablet) {
//             top: 29rem;
//         }
//         @include media (desktop) {
//             top: 33.5rem;
//         }
//         @include media (xldesktop) {
//             top: 37.5rem;
//         }
//     }
//     .swiper-button-prev {
//         top: 28rem;
//         @include media (tablet) {
//             top: 29rem;
//         }
//         @include media (desktop) {
//             top: 33.5rem;
//         }
//         @include media (xldesktop) {
//             top: 37.5rem;
//         }
//     }
// }
// .column-5.row-3 {
//     .swiper-button-next {
//         top: 28rem;
//         @include media (tablet) {
//             top: 44rem;
//         }
//         @include media (desktop) {
//             top: 47.5rem;
//         }
//         @include media (xldesktop) {
//             top: 52.5rem;
//         }
//     }
//     .swiper-button-prev {
//         top: 28rem;
//         @include media (tablet) {
//             top: 44rem;
//         }
//         @include media (desktop) {
//             top: 47.5rem;
//         }
//         @include media (xldesktop) {
//             top: 52.5rem;
//         }
//     }
// }
// .column-4.row-2 {
//     .swiper-button-next {
//         top: 28rem;
//         @include media (tablet) {
//             top: 32rem;
//         }
//         @include media (desktop) {
//             top: 36.5rem;
//         }
//         @include media (xldesktop) {
//             top: 41.5rem;
//         }
//     }
//     .swiper-button-prev {
//         top: 28rem;
//         @include media (tablet) {
//             top: 32rem;
//         }
//         @include media (desktop) {
//             top: 36.5rem;
//         }
//         @include media (xldesktop) {
//             top: 41.5rem;
//         }
//     }
// }
// .column-4.row-3 {
//     .swiper-button-next {
//         top: 28rem;
//         @include media (tablet) {
//             top: 46rem;
//         }
//         @include media (desktop) {
//             top: 52rem;
//         }
//         @include media (xldesktop) {
//             top: 57.5rem;
//         }
//     }
//     .swiper-button-prev {
//         top: 28rem;
//         @include media (tablet) {
//             top: 46rem;
//         }
//         @include media (desktop) {
//             top: 52rem;
//         }
//         @include media (xldesktop) {
//             top: 57.5rem;
//         }
//     }
// }
// .column-3.row-2 {
//     .swiper-button-next {
//         top: 28rem;
//         @include media (tablet) {
//             top: 37rem;
//         }
//         @include media (desktop) {
//             top: 42.5rem;
//         }
//         @include media (xldesktop) {
//             top: 49.5rem;
//         }
//     }
//     .swiper-button-prev {
//         top: 28rem;
//         @include media (tablet) {
//             top: 37rem;
//         }
//         @include media (desktop) {
//             top: 42.5rem;
//         }
//         @include media (xldesktop) {
//             top: 49.5rem;
//         }
//     }
// }
// .column-3.row-3 {
//     .swiper-button-next {
//         top: 28rem;
//         @include media (tablet) {
//             top: 52rem;
//         }
//         @include media (desktop) {
//             top: 60.5rem;
//         }
//         @include media (xldesktop) {
//             top: 70.5rem;
//         }
//     }
//     .swiper-button-prev {
//         top: 28rem;
//         @include media (tablet) {
//             top: 52rem;
//         }
//         @include media (desktop) {
//             top: 60.5rem;
//         }
//         @include media (xldesktop) {
//             top: 70.5rem;
//         }
//     }
// }