.swiper-container {
    .article-box {
        padding: 0;
    }
    .bottom {
        top: 12.23rem;
        @include media (tablet) {
            top: 4.4rem;
        }
        @include media (desktop) {
            top: 6.08rem;
        }
        @include media (xldesktop) {
            top: 8.25rem;
        }
    }
    .top {
        top: 0rem;
    }
    .article-heading {
        @include media (desktop) {
            margin-top: 1.5rem;
        }
        @include media (xldesktop) {
            margin-top: 0.5rem;
        }
    }
}

.nav-tabs {
    margin: 0 0 1.5rem 0;
    // @include media (desktop) {
    //     margin: 0 0.4375rem 1.5rem 0;
    // }
}