// Partner component CSS starts
.partner {
    &-container {}
    &-box {
        color: #6D7278;
        &-heading {
            font-weight: 800;
            font-size: 40px;
            line-height: 44px;
        }
        &-description {}
    }
    &-logo {
        &-box {}
        &-image {
            width: 75%;
            margin: 20px;
        }
    }
}

// Partner component CSS ends