.platform {
    &-container {}

    &-upper {
        &-section {
            padding: 1.625rem;
            height: calc(100% - 40rem);

            &-cta {
                text-align: center;
                margin-top: 2rem;
                @include media(desktop){
                    margin-top: 0;
                }
                &-group {}
            }
        }
    }
    &-bottom{
        &-section{
            height: calc(100% - 40rem);
            &-cta {
                text-align: center;
                margin-top: 2rem;
                @include media(desktop){
                    margin-top: 0;
                }
                &-group {}
            }
            &-content{
                text-align: center;
                padding: 2rem 0;
            }
            &-heading{
                text-align: center;
                padding: 2rem 0;
            }
        }
    }

    &-section {}

    &-line {
        @include media(desktop){
            border-right: 1px solid #dcdcdc;
        }
    }

    &-list {
        &-inner {
            list-style: none;
        }
    }
}

.platform-list-inner::before {
    content: "\2022";
    color: #6D7278;
    font-weight: bold;
    width: 1em;
    position: absolute;
    margin-left: -1rem;
}