.bizagi-popup {
    // .fade.in {
    //     opacity: 1;
    // }
    // .modal {
    //     display: none;
    //     overflow: auto;
    //     overflow-y: scroll;
    //     position: fixed;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     z-index: 1040;
    // }
    // .fade {
    //     opacity: 0;
    //     -webkit-transition: opacity .15s linear;
    //     transition: opacity .15s linear;
    // }
    // .modal.in .modal-dialog {
    //     -webkit-transform: translate(0, 0);
    //     -ms-transform: translate(0, 0);
    //     transform: translate(0, 0);
    // }
    // .modal.fade .modal-dialog {
    //     -webkit-transform: translate(0, -25%);
    //     -ms-transform: translate(0, -25%);
    //     transform: translate(0, -25%);
    //     -webkit-transition: -webkit-transform .3s ease-out;
    //     -moz-transition: -moz-transform .3s ease-out;
    //     -o-transition: -o-transform .3s ease-out;
    //     transition: transform .3s ease-out;
    // }
    // @media screen and (min-width: 768px) {
    // .modal-dialog {
    //     left: 50%;
    //     right: auto;
    //     width: 600px;
    //     padding-top: 30px;
    //     padding-bottom: 30px;
    // }
    // }
    @media (min-width: 992px) {
        .modal-lg {
            width: 900px;
        }
    }
    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding: 10px;
        z-index: 1000001;
    }
    @media screen and (min-width: 768px) {
        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }
    }
    .modal-content {
        position: relative;
        background-color: #fff;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        background-clip: padding-box;
        outline: none;
    }
    .modal-header .close {
        margin: -2px 0 0 0;
        padding: 0;
    }
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
        outline: none;
        filter: alpha(opacity=50);
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #6D7278;
        font-size: 18px;
        line-height: 22px;
    }
    @media (max-width: 992px) {
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .modal-header {
        background: #f7f7f7;
        border-radius: 4px 4px 0 0;
    }
    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 16.428571429px;
    }
    .close {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        filter: alpha(opacity=20);
    }
    button.close {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
    }
    button.close {
        right: 10px;
        top: 10px;
        margin: 0;
        clear: both;
        position: absolute;
        z-index: 1;
    }
    .modal-body {
        background: #fff;
        padding: 20px 30px;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
        font-family: 'Open Sans', sans-serif;
    }
    table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }
    table th,
    table td {
        padding: .625em;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        @include media (tablet) {
            font-size: 10px;
            line-height: 13px;
        }
        @include media (desktop) {
            font-size: 12px;
            line-height: 15px;
        }
    }
    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: #6d7278;
        @include media (tablet) {
            font-size: .55em;
        }
        @include media (desktop) {
            font-size: .85em;
        }
    }
    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }
    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }
        table caption {
            font-size: 1.3em;
        }
        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }
        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
            color: #6d7278;
        }
        table td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
        table td:last-child {
            border-bottom: 0;
        }
    }
    p.nb-model-p {
        font-size: 13px;
        line-height: 15px;
    }
    .opacidad {
        opacity: 0.5;
    }
}

.modal-backdrop.show {
    z-index: 1000000;
}