.social {
    &-icon {
        width: 2rem;
        height: auto;
        &-box {
            font-size: 3rem;
            text-align: center;
            // background-color: blueviolet;
        }
        &-link {
            padding: 0.2rem;
            @include hover {
                text-decoration: none;
            }
        }
    }
}