.xchange-heading {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;

    &-Connectors {
        color: #68b631;
    }

    &-Widgets {
        color: #119496;
    }

    &-process {
        color: #BF5000;
    }
}

.search {
    &-input {
        border: none;
        padding-left: 0;
        padding-right: 0;

        svg.ais {
            &-SearchBox {
                &-submitIcon {
                    fill: #FFFFFF;
                    width: auto;
                    height: 1rem;
                }
            }
        }
    }
}

.ais {
    &-SearchBox {
        &-form {
            display: flex;
            border: 1px solid #BDBDBD;
            border-radius: 0.35rem;
        }

        &-input {
            width: 100% !important;
            /* border-radius: 0.4375rem; */
            border: none;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            &:focus-visible{
                outline: none;
            }
        }

        button {
            outline: none;
            padding: 0.4rem;
            min-width: 3rem;
            background-color: #f28c20;
            border: none;
            border-radius: 0.30rem;
            /* margin-left: 1rem; */
        }
    }
}

.cta {
    &-parent {
        // text-align: end;
        @include media(tablet){
            text-align: center;
        }
        .cta {
            &-group {
                margin: 0;
                display: none;
                @include media(tablet){
                    display: inline-flex;
                }

            }
            &-dropdown{
                @include media(tablet){
                    margin-left: -1.5rem;
                }
                @include media(desktop){
                text-align: end;
                // margin-right: -1rem;
                }
                @include media(xldesktop){
                    margin-left: 0;
                }
            }
            &-filter{
                @include media(tablet){
                    margin-left: -0.75rem;
                    text-align: end;
                }
            }
        }
    }

    &-blue {
        .cta-secondary {
            border: solid 2px #119496;
            color: #119496;

            &:hover {
                color: #ffffff;
                background: #119496;
            }
        }
    }

    &-green {
        .cta-secondary {
            border: solid 2px #68b631;
            color: #68b631;

            &:hover {
                color: #ffffff;
                background: #68b631;
            }
        }
    }
}

.filter-icon {
    width: auto;
    height: 4rem;
}

.partner {
    &-finder {
        .panel {
            position: relative;
            #collapseOne{
                position: absolute;
                z-index: 1;
                right: calc(100% - 1rem);
                min-width: 16rem;
                padding-top: 1rem;
            }
            &-body {
                background-color: #ffffff;
                border-radius: 0.4375rem;
                border: 1px solid #BDBDBD;
                // position: absolute;
                // z-index: 1;
                // left: auto;
                // right: 0;
            }

            &-optios {
                li {
                    &::marker {
                        content: "";
                        list-style: none;
                    }
                }
            }

            .ais {
                &-RefinementList {
                    &-list {
                        text-align: left;
                    }
                }

                &-RefinementList-item {
                    &::marker {
                        content: "";
                        list-style: none;
                    }

                    &::before {
                        content: "";
                    }

                    &-RefinementList {
                        &-list {
                            padding: 1rem 2rem;
                        }
                    }
                }
            }
        }

        .dropdown {
            &-check {
                &-list {
                    margin: 0 1rem;
                    display: inline-block;
                }
            }
        }
    }
}

.partner-finder {
    .ais {
        &-Hits {
            &-list {
                    display: flex;
                    flex-wrap: wrap;
                    padding-inline-start: 0;
                    // justify-content: center;                
                .ais {
                    &-Hits {
                        &-item {
                            min-width: 92%;
                            list-style: none;
                            margin-left: 1rem;
                            @include media(tablet){
                                min-width: 47%;
                            }
                            @include media(desktop){
                            min-width: 31%;
                            }
                            @include media(xldesktop){
                            min-width: 31.93%;
                            }

                            .card {
                                position: relative;
                                margin-top: 1.5rem;
                                height: 8rem;
                                flex-direction: row;
                                .partner{
                                    &-logo{
                                        max-height: 6rem;
                                        align-self: center;
                                        margin-top: 2rem;
                                        position: absolute;
                                        margin: 0 1rem;
                                    }
                                    &-name{
                                        font-weight: bold;
                                    }
                                }
                                .card{
                                    &-body{
                                        .cta{
                                            &-group{
                                                position: absolute;
                                                margin: 0;
                                                min-width: 11rem;
                                                @include media(tablet){
                                                    // position: static;
                                                    // width: 100%;
                                                    // justify-content: end;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.partner-finder{
    .pagination{
        justify-content: center;
        .ais{
            &-Pagination{
                &-list{
                    display: flex;
                }
                &-item{
                        width: 20px;
                        list-style: none;
                }
            }
        }
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
}


.sortig-icon {
    font-size: 1.5rem !important;
    color: #BDBDBD;
}

.fa-sliders {
    font-size: 1.5rem !important;
    color: #595959;
}
.cta-mobile{
        display: inline-flex !important;
        padding-left: 1.5rem;
        @include media(tablet){
            display: none !important;
        }
}
.cta-mobile .dropdown-menu.show {
    width: 11rem;
    border: 1px solid #e3e3e3;
}

.text-blue {
    color: #119496;
}

.text-green {
    color: #68b631;
}
