@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.navbar-toggler {
  border-color: #f5f5f5 !important;
  position: relative;
  z-index: 10;
}

.navbar-collapse {
  padding-top: 2.5rem;
}

@media (max-width: 767px) {
  .navbar-collapse {
    padding-top: .5rem;
    position: fixed;
    width: 100%;
    height: calc(100% - 7rem);
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    top: 7rem;
    z-index: 10;
    background: white;
  }
}

.nav-container {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .nav-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 5px 0;
}

.nav-link {
  color: #54646f !important;
  font-size: 16px;
  font-weight: 400;
  margin: 0 3px;
  padding: 8px 10px !important;
  text-decoration: none;
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  height: 0.15rem;
  background-color: green;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.nav-link:hover {
  color: #F38D1F !important;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-list-suplist {
  -webkit-padding-start: 0 !important;
          padding-inline-start: 0 !important;
}

.nav-list-sublist {
  list-style: none;
}

.nav-list-sublist-heading {
  margin-left: 10px;
  color: #54645B;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.nav-links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

@media (max-width: 767px) {
  .nav-links-box {
    height: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .nav-search-box {
    height: 5rem;
  }
}

.dropdown-toggle::after {
  content: none !important;
}

.dropdown-menu {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #efefef;
  padding: 0;
  margin-top: 21px;
}

.dropdown-item {
  font-weight: 300;
  line-height: 1.42857;
  padding: 4px 25px 4px 15px;
  font-size: 13px;
  white-space: nowrap;
  color: #54645B;
}

.dropdown-item:hover {
  background-color: transparent;
  color: #F38D1F;
}

@media (max-width: 767px) {
  .dropdown-menu {
    border: none;
    margin-top: 0;
  }
  .nav-list {
    -webkit-padding-start: unset;
            padding-inline-start: unset;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  .nav-item {
    margin: 0;
  }
  .navbar-collapse {
    border-top: 1px solid #e0e0e0;
  }
}

.affix {
  position: fixed;
  top: 0;
  z-index: 999999;
  background-color: #ffffff;
}

.headerLogo-container {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: none;
}

@media (min-width: 992px) {
  .headerLogo-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.headerLogo-image {
  width: auto;
  height: 3.5rem;
}

@media (max-width: 767px) {
  .headerLogo-image {
    height: 2.8rem;
  }
}

@media (max-width: 767px) {
  .cta-header {
    color: #888 !important;
    border: none !important;
    background: none !important;
    padding: 0 !important;
    font-size: 17px;
    font-weight: 100;
  }
}

.multilang-dropdown {
  border: none;
  -webkit-appearance: none;
  background: url(./../images/bg-arrow-down.png) no-repeat;
  width: 35px !important;
  height: 47px !important;
  background-position: 100% 50%;
}

.multilang-dropdown:focus {
  outline: none;
}

@media (min-width: 992px) {
  .search-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#foot {
  background: #005747;
  background: -webkit-gradient(linear, left top, right bottom, from(#005747), to(#00aca1));
  background: linear-gradient(to bottom right, #005747 0%, #00aca1 100%);
}

.footer-inner {
  font-weight: 300;
  color: #FFFFFF;
  padding-top: 3rem;
}

.footer-content-box {
  text-align: center;
  padding-top: 1rem;
}

.footer-logo {
  text-align: center;
}

@media (min-width: 992px) {
  .footer-logo-box {
    margin-right: 8rem;
  }
}

@media (max-width: 767px) {
  .footer-logo-box {
    margin-bottom: 3rem;
  }
}

@media (max-width: 767px) {
  .footer-column {
    margin-bottom: 3rem;
  }
}

@media (max-width: 767px) {
  .footer-column-box {
    text-align: center;
  }
}

.footer-column-box-heading {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}

.footer-column-list {
  margin: 0;
  padding: 0;
}

.footer-copyright {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-item {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  line-height: 20px;
  font-size: 16px;
}

.link:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.social-icon {
  text-align: center;
  padding-top: 1rem;
}

.social-icon-image {
  height: 32px;
  width: 32px;
}

.card-inner {
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 11px 0 rgba(166, 166, 166, 0.5);
          box-shadow: 0 0 11px 0 rgba(166, 166, 166, 0.5);
  display: inline-block;
  position: relative;
  margin: 1.2rem auto;
  height: calc(100% - 15px) !important;
}

.card-image-box {
  position: relative;
}

.card-tag {
  padding: 2px 20px;
  background: #F38D1E;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}

.card-title {
  color: #6D7278;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.card-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.card-date {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #6D7278;
  font-size: 18px;
  line-height: 22px;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #6D7278;
  font-size: 18px;
  line-height: 22px;
}

.card-subtitle {
  color: #6D7278;
}

.card-cta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.top-left {
  position: absolute;
  top: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none !important;
  padding: 10px 20px;
  color: #F28C20;
  margin: 0 0.5rem;
}

.cta-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 1rem 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cta-default:hover {
  color: #dc7000;
}

.cta-primary {
  background-color: #F28C20;
  color: #ffffff;
  border: solid 2px #F28C20;
}

.cta-primary:hover {
  color: #ffffff;
  background: #dc7000;
  border: solid 2px #dc7000 !important;
}

.cta-secondary {
  border: solid 2px #F28C20;
  color: #F28C20;
}

.cta-secondary:hover {
  color: #ffffff;
  background: #dc7000;
}

.cta-content {
  margin: 0 5px;
}

.cta-icon-box img {
  vertical-align: text-bottom;
}

.cta-icon-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cta-icon-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.cta-image {
  width: 55px;
  height: auto;
}

.contentSection-box-heading {
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
  color: #6D7278;
  text-align: center;
}

.partner-box {
  color: #6D7278;
}

.partner-box-heading {
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
}

.partner-logo-image {
  width: 75%;
  margin: 20px;
}

.banner-bg-image {
  position: absolute;
  width: 100%;
}

@media (max-width: 767px) {
  .banner-bg-image {
    height: 100%;
  }
}

.banner-bg .cta {
  background-color: #FFFFFF;
  border: none;
}

.banner-bg .cta-group {
  margin: 1rem 0;
}

.banner-bg .cta:hover {
  border: none !important;
}

.banner-bg .cta-content {
  color: #009E99;
}

.banner-bg .banner-heading {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 60px;
}

@media (max-width: 767px) {
  .banner-bg .banner-heading {
    font-size: 2.5rem;
  }
}

.banner-bg .banner-subheading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 30px;
}

.banner-bg .banner-content {
  color: #ffffff;
}

.banner-bg .bannercta {
  background: #ffffff;
  border: 2px solid #ffffff;
}

.banner-heading {
  color: #6D7278;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 60px;
}

.banner-subheading {
  color: #6D7278;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
}

.banner-content {
  color: #6D7278;
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-content-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.center-allign {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=export.css.map */