@import "../variables/export.scss";
@import "../mixins/export.scss";
@import "heading";
@import "./header/export";
@import "./footer/export";
@import "./solution/export";
@import "./blog/export";
@import "./caseStudy/export";
@import "./news/export";
@import "cards";
@import "cta";
@import "contentSection";
@import "partner";
@import "heroBanner";
@import "carousel";
@import "socialIcon";
@import "gridCarousel";
@import "covid";
@import "homeHeader";
@import "sapRte";
@import "innerBanner";
@import "events";
@import "newCarousel";
@import "xchange";
// @import "_newCarousel";
@import "contentCenter";
@import "popup";
@import "newGridCarousel";
@import "officeListing";
@import "modeler";
@import "stepper";
@import "findAPartner";
@import "video";
@import "learningJourneys";
@import "carrers";
@import "courseCalender";
@import "courseCalenderDetails";
@import "videoList";
// @import "platformXchange";
@import "blogsLanding";
@import "singleColumnCard";
@import "platformThreeColumn";
@import "search";
@import "aboutRTE";
@import "studio";
@import "newCourseCalender";
@import "multiLangChanges";
@import "scroolTop";
@import "homeBanner";