.card-deck {
    .card {
        border: none;

        &-title {
            font-size: 1.125rem;
            text-align: center;
            color: #6d7278;
        }

        &-img {
            &-top {
                width: auto;
                height: 5.938rem;
            }
        }

        &-body {}

        &-text {
            text-align: center;
        }
    }

    .cta {
        &-group {
            justify-content: center;
        }
    }
}