.newsDetail {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #6D7278;
    // font-weight: 300;
    &-heading {
        font-size: 1.125rem;
        line-height: 1.375rem;
        font-weight: 700;
        margin-top: 2rem;
    }
    &-subHeading {
        font-size: 1.125rem;
        line-height: 1.375rem;
        font-weight: 300;
        margin: 3rem 0;
    }
    &-city {
        font-weight: 700;
    }
    &-date {
        font-weight: 700;
    }
    &-description {
        font-weight: 300;
    }
    &-aboutHeading {
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #6D7278;
        font-weight: 700;
    }
    &-aboutDescription {
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #6D7278;
        font-weight: 300;
        margin: 1.5rem 0;
    }
    &-contactInfo {
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #6D7278;
        font-weight: 300;
    }
}