// Header CTA component CSS starts
@include mobile-only {
    .cta {
        &-header {
            color: #888 !important;
            border: none !important;
            background: none !important;
            padding: 0 !important;
            font-size: 17px;
            font-weight: 100;
        }
    }
}


// Header CTA component CSS ends