// with affix styling
.inner-header {
    &.affix {
        position: fixed;
        top: 0;
        z-index: 999999;
        background-color: #ffffff !important;
        margin-top: auto;
        background: transparent;
        border-bottom: 1px solid #efefef;
        .logo {
            &-grey {
                margin-top: 0;
            }
        }
        .headerLogo {
            &-link {
                @include media(xldesktop) {
                    margin-right: 5rem;
                }
            }
        }
        .search {
            &-box {
                @include media(xldesktop) {
                    margin-top: 2rem;
                }
            }
        }
        .multilang {
            &-dropdown {
                @include media(xldesktop) {
                    margin-left: 0.2rem;
                    padding: 0;
                }
            }
        }
    }
    .nav {
        &-container {
            // top: 2rem;
            // position: absolute;
            // left: 17rem;
        }
        &-link {
            color: #54646f !important
        }
        &-links {
            &-box {
                .cta {
                    &-primary {
                        .cta {
                            &-content {}
                        }
                    }
                    &-secondary {
                        @include media(tablet) {
                            // border: none;
                        }
                        .cta {
                            &-content {}
                        }
                    }
                }
            }
        }
    }
    .multilang {
        &-container {}
        &-dropdown {}
    }
    .search {
        &-box {
            &-searchIcon {}
        }
    }
    .logo {
        &-grey {}
        &-white {
            display: none;
        }
    }
}

// without affix styling
.inner-header {
    padding: 1rem;
    @include media(tablet) {
        margin-top: -1.5rem;
    }
    @include media(desktop) {
        margin-top: 0rem;
    }
    height: 7rem;
    // aman added padding height
    // @include media(tablet) {
    //     margin-top: 1rem;
    // }
    .nav {
        &-container {}
        &-link {}
        &-links {
            &-box {
                height: 2.5rem;
                @include media(tablet) {
                    height: 5rem;
                }
                .cta {
                    &-primary {
                        .cta {
                            &-content {
                                // margin: 0;
                            }
                        }
                    }
                    &-secondary {
                        .cta {
                            &-content {
                                // margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .multilang {
        &-container {}
        &-dropdown {
            color: #888;
            margin-bottom: 0.5rem;
            margin-left: 0.5rem;
        }
    }
    .search {
        &-container {
            margin-top: 2.5rem;
            @include media(tablet) {
                margin-top: -0.5rem;
            }
        }
        &-box {
            @include media(tablet) {
                // margin-left: 8rem;
            }
            @include media(desktop) {
                margin-left: 0;
            }
            &-searchIcon {}
        }
    }
    .logo {
        &-grey {}
        &-white {}
    }
    @include media(tablet) {
        .cta {
            &-secondary {
                color: #888;
                border: none;
                background: none;
                padding: 0;
                font-size: 17px;
                font-weight: 100;
            }
            &-primary {
                color: #888;
                border: none;
                background: none;
                padding: 0;
                font-size: 17px;
                font-weight: 100;
            }
        }
    }
    @include media(desktop) {
        .cta {
            display: flex;
            justify-content: center;
            border-radius: 3px;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
            text-decoration: none !important;
            padding: 10px 20px;
            color: #F28C20;
            margin: 0 0.5rem 0.5rem;
            &-primary {
                background-color: #F28C20;
                color: #ffffff;
                border: solid 2px #F28C20;
                &:hover {
                    color: #ffffff;
                    background: #dc7000;
                    border: solid 2px #dc7000 !important;
                }
            }
            &-secondary {
                border: solid 2px #F28C20;
                color: #F28C20;
                &:hover {
                    color: #ffffff;
                    background: #dc7000;
                }
            }
        }
    }
    .headerLogo {
        &-link {
            @include media(desktop) {
                margin-right: 5rem;
            }
        }
    }
}
.inner-header{
    .cta-content{
        margin: 0 0.3125rem;
        @include media(desktop){
            margin: 0;
        }
        @include media(xldesktop){
            margin: 0 5px;
        }
    }
}