// Header Logo component CSS starts
.headerLogo {
    &-container {
        height: 5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include media(desktop) {
            // justify-content: flex-end;
        }
        text-shadow: none;
    }
    &-link {}
    &-image {
        max-height: 3.5rem;
        height: auto;
        width: auto;
        @include mobile-only {
            max-height: 2.8rem;
        }
    }
}

@include mobile-only {
    .headerLogo {
        &-container {
            text-align: center;
        }
    }
}

// Header Logo component CSS ends