// Multi Language component CSS starts
.multilang {
    &-container {}
    &-dropdown {
        border: none;
        -webkit-appearance: none;
        background: url(./../images/bg-arrow-down.png) no-repeat;
        width: 35px!important;
        height: 47px!important;
        background-position: 100% 50%;
        &-option {
            color: #000000;
        }
        &:focus {
            outline: none;
        }
    }
}

// Multi Language component CSS ends