// Navbar component CSS starts
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.navbar {
    &-toggler {
        border-color: #f5f5f5 !important;
        position: relative;
        z-index: 10;
        &-icon {}
    }
    &-collapse {
        padding-top: 2.5rem;
        @include media(tablet) {
            padding: 0;
        }
        @include mobile-only {
            padding-top: .5rem;
            position: fixed;
            width: 100%;
            height: calc(100% - 12rem);
            overflow-y: auto;
            overflow-x: hidden;
            left: 0;
            top: 8rem;
            z-index: 10;
            background: white;
        }
    }
}

@include mobile-only {
    .home-header.affix .navbar-collapse {
        height: calc(100% - 6rem);
        top: 6rem;
    }
    .inner-header.affix .navbar-collapse {
        height: calc(100% - 6rem);
        top: 6rem;
    }
    .inner-header .navbar-collapse {
        height: calc(100% - 6rem);
        top: 6rem;
    }
}

.nav {
    &-container {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media(tablet) {
            height: 0rem;
            margin-left: 6rem;
        }
        @include media(desktop) {
            justify-content: flex-end;
            align-items: center;
            height: 5rem;
            margin-top: 1rem;
        }
        @include media(xldesktop) {
            margin-top: 0;
            margin-left: 0;
        }
        // @include media(xxldesktop){
        //     justify-content: center;
        // }
    }
    &-item {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 1.375rem;
        margin: 0.313rem 0;
        list-style: none;
        padding-inline-start: 0;
    }
    &-link {
        color: #54646f !important;
        font-size: 1rem;
        font-weight: 400;
        margin: 0 0.188rem;
        padding: 0.5rem 0.625 !important;
        text-decoration: none;
        position: relative;
        @include media(desktop) {
            color: #ffffff !important;
        }
        &::before {
            content: '';
            position: absolute;
            height: 0.15rem;
            background-color: #1ea59a;
            top: 0;
            left: 0;
            display: block;
            width: 0%;
            transition: 0.2s all;
        }
        // &:focus{
        //     content: "";
        //     height: 0.15rem;
        //     background-color: #1ea59a !important;
        //     top: 0;
        //     left: 0;
        //     display: block;
        //     width: 0%;
        //     transition: 0.2s all;
        // }
        &:hover {
            background-color: transparent;
            border-top: transparent;
            // transform: scale(1.1);
            &::before {
                width: 100%;
            }
        }
    }
    &-list {
        &-suplist {
            padding-inline-start: 0 !important;
        }
        &-sublist {
            list-style: none;
            &-heading {
                margin-left: 0.625rem;
                color: #54645B;
                font-weight: 600;
                font-size: 0.813rem;
                font-family: 'Open Sans', sans-serif;
                margin-top: 0.5rem;
            }
        }
    }
    &-links-box {
        display: flex;
        align-items: center;
        height: 5rem;
        @include media(tablet) {
            height: 3rem;
            justify-content: center;
        }
        @include media(desktop) {
            height: 5rem;
            margin-left: -3rem;
        }
        @include media(xldesktop) {
            margin-left: -2px;
        }
        @include media(xxldesktop){
            justify-content: end;
        }
        @include mobile-only {
            height: 2rem;
            justify-content: center;
        }
    }
    &-search-box {
        @include mobile-only {
            height: 5rem;
            display: flex !important;
            margin-left: 2rem;
        }
        @include media(tablet) {
            margin-left: -6rem;
        }
        @include media(desktop) {
            margin-left: 3.125rem;
            margin-top: 0.7rem;
        }
        @include media(xldesktop){
            margin-top: 0;
        }
    }
}

.dropdown {
    &-toggle {
        &::after {
            content: none !important;
        }
    }
    &-menu {
        box-shadow: none;
        // border: 0.063rem solid #efefef;
        padding: 0;
        margin-top: 1.313rem;
    }
    &-item {
        font-weight: 300;
        line-height: 1.42857;
        padding: 0.25rem 1.563rem 0.25rem 1.563rem;
        font-size: 0.813rem;
        // white-space: nowrap;
        white-space: initial;
        color: #54645B;
        @include media(tablet) {
            padding: 0.25rem 1rem 0.25rem 1rem !important;
        }
        @include media(desktop) {
            padding: 0.25rem 1.563rem 0.25rem 1.563rem !important;
        }
        &:hover {
            background-color: transparent;
            color: #F38D1F;
            // color: #6D7278!important;
            // font-weight: 600;
        }
    }
}

@include mobile-only {
    .dropdown {
        &-menu {
            border: none;
            margin-top: 0;
        }
    }
    .nav {
        &-list {
            padding-inline-start: unset;
            margin-block-end: 0;
        }
        &-item {
            margin: 0;
        }
    }
    .navbar {
        &-collapse {
            border-top: 0.063rem solid #e0e0e0;
        }
    }
}

.navbar {
    &-nav {
        .dropdown {
            &-menu {
                width: 16rem;
                border-radius: 0;
                @include media(tablet) {
                    width: 13rem;
                }
                @include media(desktop) {
                    width: 16rem;
                }
            }
        }
    }
}

#navbarCollapse {
    transition: height 0.4s;
    transition-timing-function: ease;
}

// added for ipad pro view search icon positionig on affix classes
.home-header.affix .nav-search-box {
    @include media(desktop){
        margin-left: -35px;
        position: absolute;
        margin-top: 22px;
    }
    @include media(xldesktop){
        margin-left: -28px;
        position: relative;
        margin-top: 0;
    }
}
// added for ipad pro view header cta positionig on affix classes
.inner-header.affix .nav-links-box{
    @include media(desktop){
        margin-left: -2.5625rem;
    }
    @include media(xldesktop){
        margin-left: 24px;
    }
    @include media(xxldesktop){
        margin-left: -1px;
    }
}
.inner-header.affix .nav-links-box.nav-search-box{
    @include media(desktop){
        margin-left: 3px;
        margin-top: 3.1875rem;
    }
    @include media(xldesktop){
        margin-left: 1.28rem;
        margin-top: 2rem;
    }
    @include media(xxldesktop){
     margin-left: 0;   
    }
}
.inner-header .nav-search-box{
    @include media(desktop){
        margin-top: 19px;
    }
    @include media(xldesktop){
        margin-top: 0;
    }
}
// .home-header.affix{
//     @include media(tablet){
//         margin-top: -3rem;
//     }
//     @include media(desktop){
//         margin-top: 0;
//     }
// }
// Navbar component CSS ends