.client-info {
    color: #6d7278;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    &-box {
        list-style: none;
        border-right: solid 1px #ccc;
    }
    &-image {
        &-box {}
        &-input {
            border-radius: 2.5rem;
            border: solid 1px lightgray;
            padding: 0.3rem 1rem;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
    }
    .cta {
        padding: 5px 55px;
        outline: none;
    }
    &-customer {
        font-weight: 600;
    }
    &-name {}
    &-industry {
        font-weight: 600;
    }
    &-name {}
    &-location {
        font-weight: 600;
        &-name {}
    }
    &-detail {
        border-bottom: solid 1px #ccc;
        margin: 5px 10px;
        min-height: 63px;
        &-box {
            padding: 2.625rem 0.8rem;
        }
        &-percent {
            font-size: 36px;
            line-height: 42px;
            display: block;
            float: left;
            margin-right: 10px;
            color: #F38D1E;
            font-weight: 600;
            &-box {}
        }
        &-description {
            &-box {}
        }
        li {
            padding: 3px 0;
        }
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .option-set {
        width: 18rem;
        padding: 20px 0;
    }
}

ul.options>li {
    list-style: none;
}