.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    // border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 11.875rem;
    background-color: rgba(23, 42, 52, 0.8);
    color: #fff !important;
    text-align: inherit;
    border-radius: 0.375rem 0 0.375rem 0.375rem;
    padding: 0.3125rem 0.5rem;
    position: absolute;
    z-index: 1;
    right: 0rem;
    top: 1.5rem;
    font-size: 0.875rem;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.3125rem;
    border-width: 0.3125;
    border-style: hidden;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    // top: 1.5rem;
    // left: -6rem;
}

// edit by iman
.partnerinfo {
    text-align: end;
    margin-right: 2rem;
    color: #9b9b9b;
    font-weight: 400;
    font-size: 1.125rem;
    margin-top: 1rem;
}

.case-study-image {
    padding: 1rem 0;
}

.image-box {
    text-align: justify;
    left: 1rem;
    padding: 1rem 0 1.5rem 0;
    @include media(tablet) {
        text-align: center;
    }
    @include media(desktop) {
        text-align: justify;
    }
}

.caseStudy {
    // display: ;
    &-search {
        &-box {}
        &-input {
            border-radius: 2.5rem;
            border: solid 1px lightgray;
            padding: 0.3rem 1rem;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
    }
    &-input {
        border-radius: 2.5rem;
        border: solid 1px lightgray;
        padding: 0.3rem 1rem;
        width: 100%;
        &:focus {
            outline: none;
        }
    }
    .dropdown {
        z-index: 1071;
        .cta {
            margin: 0 0 2rem 0;
            padding: 0.3125rem;
            @include media(tablet) {
                padding: 0.3125rem 5.5rem;
            }
            @include media(desktop) {
                padding: 0.3125rem 2.2rem;
            }
            @include media(xldesktop) {
                padding: 0.3125rem 3.2rem;
            }
            &:focus {
                outline: none;
            }
            &-icon {
                &-box {
                    margin-top: 4px;
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }
    }
    .cta {
        padding: 0.3125rem 3.4375rem;
    }
    .dropdown input {
        // / display: block; /
        line-height: 2rem;
        margin: 0 0.5rem 0 -1rem;
    }
    .dropdown label {
        font-weight: 700;
        color: #6d7278;
    }
    .dropdown-menu.show {
        @include media(desktop) {
            display: none !important;
        }
    }
    .dropdown:hover .dropdown-menu {
        @include media(tablet) {
            margin-top: 0;
            margin-left: -2rem;
        }
        @include media(desktop) {
            margin-left: 0;
        }
        @include media(xldesktop) {
            display: block;
            margin-top: -2rem;
        }
    }
}

// .dropdown {
//     padding: 0;
// }
// .dropdown-menu {
// position: absolute;
// top: -1.25rem;
// left: 0;
// margin-top: 4.313rem !important;
// }
// .caseStudy .dropdown .dropdown-menu .show{
// display: none;
// }
.option-set {
    width: 18rem;
    padding: 1.25rem 0;
    @include media(tablet) {
        width: 24rem;
    }
    @include media(desktop) {
        width: 18rem;
    }
}

ul.options>li {
    list-style: none;
}

// edit by iman
.caseStudyCard {
    .element-item {
        position: relative;
        float: left;
        width: 21.875rem;
        height: 21.875rem;
        margin: 0.3125rem;
        padding: 10px;
        @include media(tablet) {
            padding: 0.3125rem;
            margin: 0.3125rem;
            width: 340px;
            height: 340px;
        }
        @include media(desktop) {
            padding: 10px;
            margin: 0.3125rem 0.3125rem 0.3125rem 1.25rem;
            width: 300px;
            height: 400px;
            // position: static !important;
        }
        @include media(xldesktop) {
            padding: 6px;
            margin: 0.3125rem;
            width: 370px;
            height: 370px;
        }
    }
    img.customer_logo {
        width: 9.375rem;
    }
    .card {
        // &-inner{
        margin: 1rem 0;
        // height: 100% !important;
        // }
        &-text {
            margin-bottom: 4rem;
        }
    }
}

.dropdownTwo {
    @include mobile-only {
        transform: translate3d(-117px, 38px, 0px) !important;
    }
    @include media(tablet) {
        left: 0 !important;
    }
}

.caseStudy {
    .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, 0.15) !important;
        border-radius: 0.25rem !important;
    }
}